http_interactions:
- request:
    method: GET
    uri: https://api.tradestatistics.io/yrpc?y=2004&r=CHL&p=ARG&c=all
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"year":2004,"reporter_iso":"CHL","partner_iso":"ARG","section_code":"01","chapter_code":"01","commodity_code":"010121","trade_value_usd_imp":36745,"trade_value_usd_exp":182260},{"year":2004,"reporter_iso":"CHL","partner_iso":"ARG","section_code":"01","chapter_code":"01","commodity_code":"010129","trade_value_usd_imp":35175,"trade_value_usd_exp":93900},{"year":2004,"reporter_iso":"CHL","partner_iso":"ARG","section_code":"01","chapter_code":"01","commodity_code":"010410","trade_value_usd_imp":29452,"trade_value_usd_exp":28850},{"year":2004,"reporter_iso":"CHL","partner_iso":"ARG","section_code":"01","chapter_code":"01","commodity_code":"010612","trade_value_usd_i[...]
