http_interactions:
- request:
    method: GET
    uri: https://api.tradestatistics.io/yrpc?y=2002&r=CHL&p=ARG&c=all
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"year":2002,"reporter_iso":"CHL","partner_iso":"ARG","section_code":"01","chapter_code":"01","commodity_code":"010121","trade_value_usd_imp":99799,"trade_value_usd_exp":96185},{"year":2002,"reporter_iso":"CHL","partner_iso":"ARG","section_code":"01","chapter_code":"01","commodity_code":"010129","trade_value_usd_imp":25078,"trade_value_usd_exp":99259},{"year":2002,"reporter_iso":"CHL","partner_iso":"ARG","section_code":"01","chapter_code":"01","commodity_code":"010229","trade_value_usd_exp":65377},{"year":2002,"reporter_iso":"CHL","partner_iso":"ARG","section_code":"01","chapter_code":"01","commodity_code":"010511","trade_value_usd_imp":62531,"trade_value_usd_ex[...]
[...]
