http_interactions:
- request:
    method: GET
    uri: https://api.tradestatistics.io/yr?y=2002&r=ALL
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"year":2002,"reporter_iso":"ABW","trade_value_usd_imp":1186318957.44,"trade_value_usd_exp":190119},{"year":2002,"reporter_iso":"AGO","trade_value_usd_imp":11883877663.65},{"year":2002,"reporter_iso":"AIA","trade_value_usd_imp":6049420.86,"trade_value_usd_exp":4344497},{"year":2002,"reporter_iso":"ALB","trade_value_usd_exp":330142332},{"year":2002,"reporter_iso":"AND","trade_value_usd_imp":324852090.1,"trade_value_usd_exp":63736873},{"year":2002,"reporter_iso":"ANT","trade_value_usd_imp":1520084044.95},{"year":2002,"reporter_iso":"ARE","trade_value_usd_imp":40161826947.11,"trade_value_[...]
