http_interactions:
- request:
    method: GET
    uri: https://api.tradestatistics.io/yr?y=2002&r=CHL
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"year":2002,"reporter_iso":"CHL","trade_value_usd_imp":26271754903.03,"trade_value_usd_exp":16522404643}]'
  recorded_at: 2025-09-22 13:51:12
- request:
    method: GET
    uri: https://api.tradestatistics.io/yr?y=2002&r=ARG
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"year":2002,"reporter_iso":"ARG","trade_value_usd_imp":48701963927.16,"trade_value_usd_exp":25346912330}]'
  recorded_at: 2025-09-22 13:51:12
- request:
    method: GET
    uri: https://api.tradestatistics.io/yrp?y=2002&r=MEX&p=USA
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"year":2002,"reporter_iso":"MEX","partner_iso":"USA","trade_value_usd_imp":136025055674,"trade_value_usd_exp":137963057176}]'
  recorded_at: 2025-09-22 13:51:12
- request:
    method: GET
    uri: https://api.tradestatistics.io/yrp?y=2002&r=MEX&p=CAN
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"year":2002,"reporter_iso":"MEX","partner_iso":"CAN","trade_value_usd_imp":0,"trade_value_usd_exp":3010074713}]'
  recorded_at: 2025-09-22 13:51:12
recorded_with: VCR-vcr/2.0.0
