http_interactions:
- request:
    method: GET
    uri: https://api.tradestatistics.io/yrpc?y=2002&r=CHL&p=ARG&c=all
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"year":2002,"reporter_iso":"CHL","partner_iso":"ARG","section_code":"01","chapter_code":"01","commodity_code":"010121","trade_value_usd_imp":99799,"trade_value_usd_exp":96185},{"year":2002,"reporter_iso":"CHL","partner_iso":"ARG","section_code":"01","chapter_code":"01","commodity_code":"010129","trade_value_usd_imp":25078,"trade_value_usd_exp":99259},{"year":2002,"reporter_iso":"CHL","partner_iso":"ARG","section_code":"01","chapter_code":"01","commodity_code":"010229","trade_value_usd_exp":65377},{"year":2002,"reporter_iso":"CHL","partner_iso":"ARG","section_code":"01","chapter_code":"01","commodity_code":"010511","trade_value_usd_imp":62531,"trade_value_usd_ex[...]
- request:
    method: GET
    uri: https://api.tradestatistics.io/yrp?y=2002&r=CHL&p=ARG
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"year":2002,"reporter_iso":"CHL","partner_iso":"ARG","trade_value_usd_imp":176629141,"trade_value_usd_exp":232852460}]'
  recorded_at: 2025-09-22 13:51:07
- request:
    method: GET
    uri: https://api.tradestatistics.io/yrc?y=2002&r=CHL&c=all
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"year":2002,"reporter_iso":"CHL","section_code":"01","chapter_code":"01","commodity_code":"010121","trade_value_usd_imp":960103,"trade_value_usd_exp":1542699},{"year":2002,"reporter_iso":"CHL","section_code":"01","chapter_code":"01","commodity_code":"010129","trade_value_usd[...]
- request:
    method: GET
    uri: https://api.tradestatistics.io/yr?y=2002&r=CHL
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"year":2002,"reporter_iso":"CHL","trade_value_usd_imp":26271754903.03,"trade_value_usd_exp":16522404643}]'
  recorded_at: 2025-09-22 13:51:07
- request:
    method: GET
    uri: https://api.tradestatistics.io/yc?y=2002&c=all
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"year":2002,"section_code":"01","chapter_code":"01","commodity_code":"010121","trade_value_usd_imp":1195527604.83,"trade_value_usd_exp":1265876960.08},{"year":2002,"section_code":"01","chapter_code":"01","commodity_code":"010129","trade_value_usd_imp":666100349.85,"trade_value_usd_[...]
