http_interactions:
- request:
    method: GET
    uri: https://api.tradestatistics.io/yrpc?y=2002&r=CHL&p=ARG&c=030311
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"year":2002,"reporter_iso":"CHL","partner_iso":"ARG","section_code":"01","chapter_code":"03","commodity_code":"030311","trade_value_usd_exp":1619}]'
  recorded_at: 2025-09-22 13:51:10
- request:
    method: GET
    uri: https://api.tradestatistics.io/yrpc?y=2002&r=CHL&p=ARG&c=030312
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"year":2002,"reporter_iso":"CHL","partner_iso":"ARG","section_code":"01","chapter_code":"03","commodity_code":"030312","trade_value_usd_imp":15785,"trade_value_usd_exp":12888}]'
  recorded_at: 2025-09-22 13:51:10
- request:
    method: GET
    uri: https://api.tradestatistics.io/yrpc?y=2002&r=CHL&p=ARG&c=030319
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '[{"year":2002,"reporter_iso":"CHL","partner_iso":"ARG","commodity_code":"030319","observation":"No
        data available for these filtering parameters"}]'
  recorded_at: 2025-09-22 13:51:11
recorded_with: VCR-vcr/2.0.0
